*{
    margin: 0;
    padding: 0;
}



.form{
    margin: 80px auto;
    width: 500px;
}
.form-input input, form button{
    width: 100%;
    margin-top: 10px;
    height: 25px;
    border-radius: 10px;
}
.form button{
    height: 30px;
    background: linear-gradient(to right rgb(194, 129, 129),rgb(87, 85, 85));

}
