*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}



.form{
    margin: 80px auto;
    width: 500px;
}
.form-input input, form button{
    width: 100%;
    margin-top: 15px;
    height: 30px;
    border-radius: 10px;
}
.form button{
    height: 40px;
    background: linear-gradient(to right rgb(0, 0, 0.5),rgb(255, 138, 138));

}
ul{
    display: flex;
    margin-top: 10px;
    gap: 50px;

}
li{
    list-style-type: none;
}
li a{
    text-decoration: none;
}